body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
canvas {
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}
canvas {
  width: 100%;
  height: 100%;
}
.image-container {
  text-align: center;
}
.text-box, .image-box {
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 7px;
  word-spacing: 12px;
  text-transform: uppercase;
  color:rgb(238, 238, 238);
}
#image {
  width: 196px;
  height: 196px;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: row;
}
.button {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  padding: 15px;
  max-height:2vh;
  margin-left:20px;
  margin-right:20px;
  word-spacing: normal;
  letter-spacing: 5px;
  border: 1px solid white;
  background: transparent;
  cursor: pointer;
  transition: all 1s;
}
.btn-small
{
  font-size: 11px;
}
.button:hover {
  color: black;
  background: rgb(238, 238, 238);
}
.hex-cell {
  overflow: hidden;
  grid-column-end: span 2;
  margin: calc(-1*var(--hl)) 0;
  transform: scale(0.95);
  cursor:pointer;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.heading {
  text-align:center;
}
.sub-heading {
  color:white;
  font-size: 1.2vh;
  text-align:center;
  height:3vh;
  letter-spacing: 1px;
  word-spacing: normal;
  text-transform: none;
}
.image {
  --hl: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(calc(1 + .2*var(--hl)));
  filter: brightness(calc(.9*(1 + var(--hl))));
  transition: .7s;
}

.image:hover {
  --hl: 0.5;
}
.show {
  display:block !important;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.95);
  width: 100%;
  height:100%;
  text-align:center;
  position:fixed;
  display:none;
  top: 0;
  left: 0;
  z-index:2000
}
.image-overlay {
  width: 128px;
  height:128px;
  margin-top: 35vh;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
  0 0 8px rgba(255, 255, 255, 0.6);
}
.grid-container {
  --l: calc(30vw/var(--n-cols));
  --hl: calc(.5*var(--l));
  --ri: calc(.5*1.73205*var(--l));
  box-sizing: border-box;
  display: grid;
  place-content: center;
  grid-template: repeat(var(--n-rows), var(--l))/repeat(var(--n-cols), var(--ri));
  grid-gap: var(--hl) 0;
  overflow: hidden;
  margin: 0;
  padding: var(--hl) 0;
  height: 60vh;
  filter: drop-shadow(2px 2px 5px);
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .grid-container {
    --l: calc(50vw/var(--n-cols));
    height: 35vh;
  }
}